.info
	h2
		font-size: 30px
		margin: 60px auto
		color: white

.parentCard
	display: grid
	grid-template-columns: repeat(2, minmax(250px, 1fr))
	grid-column-gap: 15px
	grid-row-gap: 15px
.card
	color: white
	background: linear-gradient(to left, #77C7F4, #58A4F1 50%, #2F80ED)
	padding: 30px
	border-radius: 10px
	h2
		margin: 0
	.flex
		display: flex
		// justify-content: space-around
		.flex-div
			margin-right: 30px
